[submodule "jestar/apps/island"]
	path = jestar/apps/island
	url = git@github.com:HIJKLMNTAR/island.git
[submodule "jestar/apps/whirlwind"]
	path = jestar/apps/whirlwind
	url = git@github.com:HIJKLMNTAR/whirlwind.git
